.bookingContainer {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 1367px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.bookingHotel {
  border: 1px solid rgba(128, 128, 128, 0.233);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  border-radius: 10px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
