.navContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.linkContainer {
  display: block;
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    position: relative;
    text-decoration: none;
    transition: 400ms;
    color: black;
    font-weight: 600;
  }
  a:hover {
    color: #2f80ed;
  }
  a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 0;
    left: 0;
    background-color: #2f80ed;
    transition: 400ms;
  }
  a:hover::before {
    width: 100%;
  }

  @media (max-width: 640px) {
    * {
      display: none;
    }
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
  width: 169px;

  @media (max-width: 640px) {
    display: none;
  }
}

.mobileMenu {
  display: none;

  @media (max-width: 640px) {
    display: block;
  }
}
