@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  font-family: "Montserrat";
}

.section {
  max-width: 1600px;
  margin: auto;

  img {
    width: 100%;
  }

  @media (max-width: 1367px) {
    max-width: 1100px;
  }
  @media (max-width: 1300px) {
    max-width: 1000px;
  }

  @media (max-width: 1100px) {
    max-width: 800px;
  }

  @media (max-width: 900px) {
    max-width: 600px;
  }

  @media (max-width: 640px) {
    max-width: 500px;
  }

  @media (max-width: 600px) {
    max-width: 350px;
    img {
      width: 100%;
      max-height: 80vh; /* Adjust as needed */
      object-fit: cover;
    }
  }
}
